# Database Configuration
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mini_paint_manager

# Server Configuration
NODE_ENV=development
SERVER_PORT=5000

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000


# Authentication Configuration
JWT_SECRET=troque_por_um_segredo_bem_forte
JWT_EXPIRES_IN=7d